.heads{
    flex-direction : row;
    display: flex;
    height: 75px;
    background:#ecb2b8;
    width: 100%;
 
     
}

.logo{
    font-size: 20px;
    font-family:monospace;
    color:#6e6b74;
    margin-left: 20px;

}
.other{
    flex-direction : row;
    display: flex;
    margin-left: 10px;
    margin-top: 30px;
    color:#ddd8d8;
    font-family:monospace
}

.logo h3{
 color:#f5fefbf7;
}
.x a{
  color:#f5fefbf7;
  margin-left:30px;
}


.x1{
    background:url(7.jpg) no-repeat;
    background-size:cover;
    height:550px;
}

.x2{
    background:url(1.jpg) no-repeat;
    background-size:cover;
    height:500px;
}

.cont{
    padding: 30px 60px;
    text-align:center;
    background:#5148492e;
    width:150px;
    margin-top:50px;
    margin-left:60px;
    border-radius:20px;
}

.ok{
  padding:10px 20px;
  margin-top:20px;
  background:#edcdd0;
  border:transparent;
  border-radius:10px
}

.ok1{
  padding:10px 20px;
  margin-top:20px;
  background:#2a2828;
  color:white;
  border:transparent;
  border-radius:10px
}
.main{
    display :flex;
    flex-direction:column-reverse;
}


@media only screen and (min-width: 400px) and (max-width: 690px)
{
  .other{
    margin-left: 50px;
  }
  
  }


@media only screen and (min-width: 700px) and (max-width: 900px)
{
  .other{
    margin-left: 150px;
  }
 
  .x{
    padding:0 40px;
  }

  x1{
    background:url(7.jpg) no-repeat;
    background-size:cover;
    height:950px;
}

.x2{
    background:url(1.jpg) no-repeat;
    background-size:cover;
    height:900px;
}

.cont{
    padding: 30px 160px;
    text-align:center;
    background:#5148492e;
    width:150px;
    margin-top:100px;
    margin-left:140px;
    border-radius:20px;
}

}

@media only screen and (min-width: 905px)
{
  
  .heads{

  }
  .logo h3{
    
    margin-left:30px;
  }
 .other{
   margin-left: 590px;
 }

 .x{
   padding: 0 70px;
 }
  .x a{
  margin-left:30px;
}

.main{
  flex-direction:row-reverse;
  justify-content:space-around
}

.x1{
    background:url(7.jpg) no-repeat;
    background-size:cover;
    height:800px;
}

.x2{
    background:url(1.jpg) no-repeat;
    background-size:cover;
    height:800px;
}

.cont{
    padding: 30px 220px;
    text-align:center;
    background:#5148492e;
    width:150px;
    margin-top:90px;
    margin-left:60px;
    border-radius:20px;
    margin-right: 60px;
}


